/* ---------------------------------------------
	RESET.CSS
-----------------------------------------------*/

html {
	height:100%;
	margin-bottom:1px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

* a:hover, * a:active {
	outline:none;
}	
		
.clear {
  clear: both;
  height: 0;
}

li li, li p, td p, blockquote p {
	font-size:1em
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

img {
	border: 0;
	vertical-align:bottom;
}

p {
	line-height:1.5em;
	margin:0 0 1em 0
}

ol, ul {
	list-style:none; 
}

input, select{
	font-size: 11px;
}

legend {
	display:none;
}

strong {
	font-weight:bold;
}